.carousel-item {
    background-color: #fceae8;
}

.btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    padding: 8px 30px;
    font-weight: 400;
    margin-top: 20px;
}

.bg-watch {
    background-color: orange;
}

.bg-bag {
    background-color: orchid;
    margin-left: 20px;
    margin-right: 20px;
}

.bg-shoes {
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
}

.img-width {
    width: 100px;
}

.subcribe-site {
    background-color: #fceae8;
}